html {
    // nav style

    #globalnav {
        position: fixed;
        z-index: 9999;
        margin: 0;
        width: 100%;
        min-width: 1024px;
        height: 48px;
        max-height: 44px;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 17px;

        .gn-content {
            margin: 0 auto;
            max-width: 980px;
            padding: 0 22px;
            position: relative;
            z-index: 2;

            .gn-header {
                display: none;
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
                width: 100%;
                height: 48px;
                overflow: hidden;

                .gn-item {
                    height: 48px;
                }

                .gn-link {
                    height: 48px;
                }

                .gn-menuicon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 48px;
                    z-index: 2;

                    .gn-menuicon-label {
                        display: block;
                        position: absolute;
                        top: 0;
                        width: 48px;
                        height: 48px;
                        cursor: pointer;
                        z-index: 3;

                        .gn-menuicon-bread {
                            position: absolute;
                            z-index: 3;
                            top: 9px;
                            left: 9px;
                            width: 30px;
                            height: 30px;
                        }

                        .gn-menuicon-bread-crust {
                            display: block;
                            width: 17px;
                            height: 1px;
                            background: #fff;
                            position: absolute;
                            left: 7px;
                            z-index: 1;
                        }

                        /* TODO
                        *  top / bottom 14px 인데 3px 이 빔
                        */
                        .gn-menuicon-bread-crust-top {
                            top: 11px;
                        }

                        .gn-menuicon-bread-crust-bottom {
                            bottom: 11px;
                        }
                    }
                }

                .gn-apple {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    width: 48px;
                    margin-left: -24px;
                    z-index: 1px;

                    .gn-link-apple {
                        background-size: 18px 48px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/apple/image_small.svg");
                    }
                }

                .gn-bag {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .gn-list {
                margin: 0 -10px;
                height: 44px;
                display: flex;
                justify-content: space-between;

                .gn-item {
                    display: inline-block;
                    box-sizing: border-box;
                    vertical-align: top;

                    .gn-link {
                        font-size: 14px;
                        line-height: 3.14286;
                        font-weight: 400;
                        letter-spacing: -0.01em;
                        font-family: "SF Pro Text", "Myriad Set Pro",
                            "SF Pro Icons", "Helvetica Neue", "Helvetica",
                            "Arial", sans-serif;
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        display: inline-block;
                        padding: 0 10px;
                        height: 44px;
                        opacity: 1;
                        background: no-repeat;
                        text-decoration: none;
                        white-space: nowrap;
                        outline-offset: -7px;

                        .gn-link-text {
                            position: absolute;
                            top: 50%;
                            overflow: hidden;
                            height: 1px;
                            width: 1px;
                            padding: 0;
                            border: 0;
                        }
                    }

                    .gn-link-mac {
                        background-size: 26px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/mac/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 1.85714em;
                        max-width: 44.2px;
                    }

                    .gn-link-ipad {
                        background-size: 27px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/ipad/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 1.92857em;
                        max-width: 45.9px;
                    }

                    .gn-link-iphone {
                        background-size: 44px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/iphone/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 3.14286em;
                        max-width: 74.8px;
                    }

                    .gn-link-watch {
                        background-size: 40px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/watch/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 2.85714em;
                        max-width: 68px;
                    }

                    .gn-link-tv {
                        background-size: 18px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/tv/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 1.28571em;
                        max-width: 30.6px;
                    }

                    .gn-link-music {
                        background-size: 37px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/music/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 2.64286em;
                        max-width: 62.9px;
                    }

                    .gn-link-support {
                        background-size: 52px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/links/support/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 3.71429em;
                        max-width: 88.4px;
                    }

                    .gn-link-search {
                        background-size: 16px 44px;
                        background-repeat: no-repeat;
                        background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/search/image_large.svg");
                        background-position: center center;
                        background-origin: content-box;
                        background-size: cover;
                        width: 16px;
                    }
                }
            }
        }

        .gn-link {
            display: inline-block;
            padding: 0 10px;
        }

        .gn-link-text {
            position: absolute;
            top: 50%;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
            clip-path: inset(0px 0px 99.9% 99.9%);
            overflow: hidden;
            height: 1px;
            width: 1px;
            padding: 0;
            border: 0;
        }

        .gn-link-apple {
            background-size: 16px 44px;
            background-repeat: no-repeat;
            background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/apple/image_large.svg");
            background-position: center center;
            width: 16px;
        }

        .gn-link-bag {
            background-size: 14px 44px;
            background-repeat: no-repeat;
            background-image: url("https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/bag/image_large.svg");
            background-position: center center;
            background-origin: content-box;
            background-size: cover;
            width: 14px;
        }
    }

    @media only screen and (min-width: 320px) {
    }
    @media only screen and (min-width: 480px) {
    }
    @media only screen and (min-width: 768px) {
    }

    @media only screen and (max-width: 767px) {
        #globalnav {
            overflow-y: hidden;
            max-height: none;

            .gn-content {
                width: 100%;
                height: 100%;
                padding: 0;
                position: absolute;
                top: 0;

                .gn-header {
                    display: block;
                }
            }

            .gn-bag {
                right: 0;
                display: none;
                position: absolute;
                top: 0;
                width: auto;
                z-index: 1;
            }

            .gn-header {
                .gn-bag-small {
                    display: block;
                }
            }

            .gn-list {
                display: block;
                position: absolute;
                top: 3.52941em;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    @media only screen and (max-width: 1044px) {
        #globalnav {
            min-width: 320px;
        }
    }
}
